
{% extends "base.html.twig" %}

{% block title %}

Symrecipe -Accueil
    
{% endblock %}

{% block body %}

<div  class="container mt-4">
<div class="jumbotron">
  <h1 class="display-4">Bievenue sur SymeRecipe</h1>
  <p class="lead">SymRecipe est une application qui va te permettre de créer des recettes à base des ingredients  que tu auras toi même crée.</p>
  <hr class="my-4">
  <p>Tu pouras partager tes recettes à la communité du site u bien les garder en privées comme bon te semble</p></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
  </p>
</div>
</div>

    
{% endblock %}

